.app{
    display: flex;
    align-items: center;
    justify-content: center;
 
  }
  .wrapper{
    width: 100%;
    max-width: 500px;
    padding: 20px 20px;
    background: #fdfdfe;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  }
  .content{
    display: block;
    align-items: center;
  }
  .header{
    display: flex;
    align-items: center;
  }
  .img{
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
  }
  .right{
    margin-left: 10px;
  }
  .name{
    font-weight: bold;
    font-size: 1.3em;
    color: blue;
  }
  .status{
    /* font-size: 0.8em; */
    color: #7b2f98;
    font-weight: 500;
  }
  .main{
    margin: 30px 0 0;
  }
  .main_content {
    display: block;
    align-items: center;
    justify-content: space-between;
  }
  .messages{
    display: block;
    align-items: center;
    justify-content: space-between;
  }
  .bot-message{
    width: 100%;
    padding: 15px;
    text-align: center;
    background: #EDECED;
    font-style: 1.1em;
    border-radius: 10px;
    margin: 0 10px 0;
  }
  .human-message{
    width: 100%;
    padding: 15px;
    text-align: center;
    background: #363062;
    color: #EDECED;
    font-style: 1.1em;
    border-radius: 10px;
    /* margin: 0 10px 0; */
    position: relative;
    top: 60px;
    margin-bottom: 20px;
  }
  .bottom{
    margin: 120px 0 0;
  }
  .btm{
    display: flex;
    align-items: center;
  }
  .input{
    width: 350px;
    height: 58px;
    padding-left: 36px;
    outline: none;
    border: none;
    background: #EDECED;
    box-sizing: border-box;
    border-radius: 5px;
  }
  .btn{
    margin-left: 20px;
  }
  .button{
    width: 80px;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 5px;
    background: #363062;
    color: #FFF;
    font-weight: 600;
    cursor: pointer;
    font-size: 1rem;
  }
   .i{
    margin-left: 5px;
  }